input[type=text]{

	width: 180px;
	height: 35px;
	border: 1px solid red;
	color: blue;
	font-weight: bold;

}

input[type=submit]{

	height: 34px;
    width: 90px;
    border-radius: 32px;
    color: green;

}